.main-content {
    background-color: #bdb9c0;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.background-image {
    /* background-image: url('/image/LogoBlack.PNG'); */
    /* background-size: contain;          
    background-position: center;     
    background-repeat: no-repeat;   */
    width: 1000px;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-left: 60%;
}

.overlay {
    
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10%;
    left: 0;
    justify-content: center;
    align-items: center;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 10%;
    /* background-color: rgba(0, 0, 0, 0.5); */
}
.overlay-colour {
    background-color: rgba(0, 0, 0, 0.5);
    width: 120%;
    height: 120%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.home-text1 {
    font-size: 100px;
    font-weight: bold;
    color: white;
    
}

.home-text2 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(199, 90, 90);
    margin-top: -3%;
}

.home-text3 {
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 10px;
}

/* Style for the container */
.home-text4 {
    display: flex; /* Use flexbox to align items horizontally */
    justify-content: space-between; /* Place pairs on opposite sides */
    margin-top: 5%;
    width: 40%; /* Ensure the container spans the full width */
}

/* Style for paragraphs */
.pair p {
    font-size: 20px;
    margin-right: 10px; /* Space between paragraph and link */
    color: #ffffff;
}

/* Style for the links (buttons) */
.home-button {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-size: 25px;
    transition: background-color 1s ease;
}

/* Hover effect for buttons */
.home-button:hover {
    background-color: #009eb3c2;
    
}
