/* public/style.css */
body {
    font-family: Myriad Pro, Arial, sans-serif;
    /* background-color: #bdb9c0; */
    text-align: center;
    background-image: url('Lilibackground.jpg');
    background-size: cover; /* Optional: Adjust this as needed */
    background-position: center; /* Optional: Center the background */
    background-repeat: no-repeat; /* Optional: Prevent the background from repeating */
    background-position-y: 0px;
    margin: 0;
    padding: 0;

  }
  h1 {
    color: #ffffff;
    /* background-image: url('lili.png'); */
  }
  
@font-face {
  font-family: 'Myriad Pro';
  src: '/font/MyriadPro-Regular.otf';
}
